/* Add your custom styles here */
        body {
            font-family: 'Arial', sans-serif;
            margin: 15px;
            background-color: #f8f9fa;
        }

        nav {
            border-radius: 30px;
            padding: 10px;
            text-align: left;
            position: relative;
            width: 100%;
            background-color: #e74c3c;
            z-index: 1000;
        }

        nav a {
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
            color: white;
        }

        .main-section {
            position: relative;
            padding: 20px;
            box-shadow: 10px 10px 10px 10px #000000;
            border-radius: 5px;
            margin: 0px;
            margin-top: 10px;
            z-index: 1;
        }

        .visualization {
            background-color: white;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            overflow: scroll;
            box-shadow: 0px 0px 10px 0px #000000;
        }

        .visualization h2 {
            margin-bottom: 15px;
            color: #e74c3c;
        }

        /* Progress bar style */
        .progress {
            height: 30px;
            border-radius: 5px;
            overflow: hidden;
        }

        .progress-bar {
            text-align: center;
            line-height: 30px;
            color: #fff;
        }

        /* Confusion matrix style */
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;

        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #e74c3c;
            color: white;
        }